<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Socialannex_Loyalty>
            <version>1.0</version>
        </Socialannex_Loyalty>
    </modules>
    <global>
        <helpers>
            <loyalty>
                <class>Socialannex_Loyalty_Helper</class>
            </loyalty>
        </helpers>
    </global>
    <adminhtml>
        <routers>
            <loyalty>
                <use>admin</use>
                <args>
                    <module>Socialannex_Loyalty</module>
                    <frontName>Socialannex</frontName>
                </args>
            </loyalty>
        </routers>
    </adminhtml>
    <frontend>
        <events>
            <customer_register_success>
                <observers>
                    <socialannex_loyalty_customer_register_success>
                        <type>singleton</type>
                        <class>socialannex_Loyalty_Model_Observer</class>
                        <method>customerRegisterSuccess</method>
                    </socialannex_loyalty_customer_register_success>
                </observers>
            </customer_register_success>
            <newsletter_subscriber_save_after>
                <observers>
                    <socialannex_loyalty_newsletter_subscriber_save_after>
                        <class>socialannex_Loyalty_Model_Observer</class>
                        <method>newsletterSubscriberSaveAfter</method>
                    </socialannex_loyalty_newsletter_subscriber_save_after>
                </observers>
            </newsletter_subscriber_save_after>
            <sales_quote_collect_totals_after>
                <observers>
                    <socialannex_loyalty_set_custom_discount>
                        <type>singleton</type>
                        <class>socialannex_Loyalty_Model_Observer</class>
                        <method>setDiscount</method>
                    </socialannex_loyalty_set_custom_discount>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
		<routers>
		<loyalty>
			<use>standard</use>
			<args>
			<module>Socialannex_Loyalty</module>
			<frontName>loyalty</frontName>
			</args>
		</loyalty>
		</routers>
    </frontend>	
</config>
